@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
#resumeNav {
    display: inline-block;
    background-color: #183940;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0px #023028 ;
    margin: 0;
    transition: transition 100s cubic-bezier(.45,.97,.68,2.48);
}
#resumeNav:hover {
    transform: scale(1.05);
}
.resumeButton {
    display: flex;
    background-color: #183940;
    width: 160px;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0px #023028 ;
    transition: transition 100s cubic-bezier(.45,.97,.68,2.48);
    margin-top: 58px;
    margin-left: 110px;
    font-family: "Fira code", sans-serif;
}
.resumeButton:hover {
    transform: scale(1.05);
}
.resumeButton > a {
    display: inline-flex;
    align-items: center;
    color: #0CF2B1;
    font-family: "Fira code", sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
}
.resumeButton > a:before {
    width: 0px;
    height: 0px;
    margin-right: 0px;
}
.contacts {
    display: flex;
    background-color: #183940;
    width: 160px;
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    padding-right: 20px;
    box-shadow: 5px 5px 0px #023028 ;
    transition: transition 100s cubic-bezier(.45,.97,.68,2.48);
    margin-top: -60px;
    margin-left: 310px;
    font-family: "Fira code", sans-serif;
}
.contacts > a {
    content: ' ';
    display: inline-flex;
    align-items: center;
    color: #0CF2B1;
    font-family: "Fira code", sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
}
.contacts > a:before{
    content: none;
}
.contacts:hover {
    transform: scale(1.05);
}
button {
    background-color: #183940;
    color: #0CF2B1;
    padding-left: 20px;
    padding-right: 20px;
}
@media screen and (min-width: 625px) and (max-width:1024px ){
.resumeButton {
    display: flex;
    background-color: #183940;
    width: 160px;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0px #023028;
    transition: transition 100s cubic-bezier(.45,.97,.68,2.48);
    margin-top: 25px;
    margin-left: 110px;
    font-family: "Fira code", sans-serif;
}
.presentation {
    display: inline-block;
    background-color: #183940;
    width: 360px;
    height: 70px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 150px;
    margin-left: 95px;
    box-shadow: 5px 5px 0px #023028;
    text-align: center;
}
}
@media screen and (min-width: 350px) and (max-width:625px ){
.resumeButton {
    display: none;
}
.contacts {
    display: none;
}
.presentation {
    display: inline-block;
    background-color: #183940;
    width: 200px;
    height: 70px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 195px;
    margin-left: 8px;
    box-shadow: 5px 5px 0px #023028;
    text-align: center;
}
#resumeNav {
    margin-left: 130px;
    margin-top: -68px;
    margin-bottom: 13px;
}
h1 {
    font-size: 15px; 
}
}